body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#signin {
  background-color: #242632;
  font-family: inter;
}

#signup {
  background-color: #242632;
  font-family: inter;
}

#signup #info {
  top: 2rem;
  align-items: flex-start;
  left: 1%;
}

#info {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 2rem;
  align-items: flex-start;
  left: 1.5rem;
}

#info button:nth-child(1) {
  background-color: #5b46e4;
  border-radius: 2px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.6;
  width: 210px;
}

#info button:nth-child(1):hover {
  opacity: 1;
}

#info button:nth-child(3) {
  background-color: #4b8bec;
  border-radius: 2px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.6;
  width: 210px;
}

#info button:nth-child(3):hover {
  opacity: 1;
}

input {
  background-color: #363942;
  border: none;
  border-radius: 2px;
  color: white;
}

span {
  color: white;
}

@media screen and (max-width: 700px) {
  .gamesection {
    transform: translateX(-30rem);
  }
}
@media screen and (max-width: 480px) {
  .gamesection {
    transform: translate(-9rem, 24rem);
  }
}
body {
  background-image: url("../Asset/images/dota2_social.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#signinmenu {
  visibility: visible;
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
}
#signinmenu #signin {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  width: 269px;
  height: 361px;
  border-radius: 14px;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}
#signinmenu .close_btn {
  cursor: pointer;
  position: absolute;
  top: 7rem;
  right: 36rem;
  font-size: 1.3em;
}

#signinmenu.show {
  scroll-behavior: smooth;
}

#signinmenu.hide {
  visibility: hidden;
}

#signin input {
  width: 157%;
  padding: 2px;
  position: relative;
  right: -1.5rem;
}

#signinhead, #backsignup, #backsignin {
  position: relative;
  top: 6rem;
  color: white;
  margin-right: 3rem;
  right: 2rem;
}

#backsignup {
  position: relative;
  right: -1rem;
  font-size: 13px;
  top: 5rem;
}

.gamesection {
  width: 219px;
  position: absolute;
  top: 6rem;
  left: 70%;
  color: white;
}
.gamesection h2 {
  position: absolute;
  top: 2.2rem;
  font-size: 14px;
}
.gamesection h1 {
  position: relative;
  top: -1rem;
}

.game {
  width: 54px;
  object-fit: cover;
  border-radius: 5px;
  transform: translateX(-23px);
  cursor: pointer;
}

.boxgame {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-around;
  background: #232325;
  opacity: 0.8;
  border-radius: 11px;
  width: 218px;
}
.boxgame:hover {
  opacity: 1;
}
.boxgame .data_game {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
}

.boxgame.first img {
  transform: translateX(-0.7rem);
}

#signupmenu {
  visibility: hidden;
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
}
#signupmenu h3 {
  position: absolute;
  left: 42%;
  top: 5.8rem;
  z-index: 100;
  color: white;
  font-size: 1.5em;
}
#signupmenu .close_btn {
  position: absolute;
  z-index: 100;
  top: 8rem;
  right: 36rem;
  font-size: 1.3em;
  cursor: pointer;
}
#signupmenu #backsignin {
  position: absolute;
  left: 42%;
  top: 9.5rem;
  z-index: 100;
  font-size: 14px;
  text-decoration: underline;
}
#signupmenu #signup {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  width: 269px;
  height: 468px;
  border-radius: 14px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -22rem;
  left: auto;
}

#signupmenu.show {
  visibility: visible;
  scroll-behavior: smooth;
}

/*# sourceMappingURL=style.css.map */
