
$xl : 800px;
$medium: 700px;
$mobile : 480px;
$small : 280px;  





@media screen and(max-width: $medium) {
    .gamesection{
       transform: translateX(-30rem);
    }

}

@media screen and(max-width: $mobile) {
    .gamesection{
        transform: translate(-10rem,26rem);
    }
    .gamesection.active{
        transform: translate(-10rem, 26rem);
    }
    #backsignin{
        left: 15%;
        width: 300px;
    }
}


    
