// import other module scss  

@use "../scss/variables";
@use "../scss/responsive";

@mixin flex_custom {
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
}


body{
    background-image: url('../Asset/images/dota2_social.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}



#signinmenu {
    visibility: visible;
    @include flex_custom();

    #signin{
        @include flex_custom();
        width: 269px;
        height: 391px;
        border-radius: 14px;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
            
    }
    .close_btn{
        cursor: pointer;
        position: absolute;
        top: 8.3rem;
        right: 36rem;
        font-size: 1.3em;
    }
    
}
#signinmenu.show{
    scroll-behavior: smooth;
}
#signinmenu.hide{
    visibility: hidden;
}


#signin input{
    width: 157%;
    padding: 2px;
    position: relative;
    left: 1rem;
}

#signinhead,#backsignup,#backsignin{
    position: relative;
    top: 6rem;
    color: white;
    margin-right: 3rem;
    right: 2rem;
    
}

#backsignup{
    position: relative;
    right: -1rem;
    font-size: 13px;
    top: 5rem;
}


// style game images 

.gamesection{
width: 219px;
position: absolute;
top: 6rem;
left: 70%;
color: white;
h2{
    position: absolute;
    top: 2.2rem;
    font-size: 14px;
}
h1{
    position: relative;
    top: -1rem;
}
}


.game{
    width: 54px;
    object-fit: cover;
    border-radius: 5px;
    transform: translateX(-23px);
    cursor: pointer;
}

.boxgame{
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-around;
    background: #232325;
    opacity: 0.8;
    border-radius: 11px;
    width: 218px;
    
    &:hover{
        opacity: 1;
    }
.data_game{
  @include flex_custom();
}

}

.boxgame.first img{
    transform: translateX(-0.7rem);
}




// login page 

#signupmenu{
    visibility: hidden;
    @include flex_custom();
   
    h3{
            position: absolute;
            left: 42%;
            top: 6.8rem; 
            z-index: 100;
            color: white;
            font-size: 2em;
        } 
    .close_btn{
        position: absolute;
        z-index: 100;
        top: 10rem;
        right: 36rem;
        font-size: 1.3em;
        cursor: pointer;
    }

    #backsignin{
            position: absolute;
            left: 42%;
            top: 11.8rem;
            z-index: 100;
            font-size: 14px;
            
    }


    #signup{
        @include flex_custom();
        width: 269px;
        height: 468px;
        border-radius: 14px;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -22rem;
        left: auto;

        

}
}
#signupmenu.show{
    visibility: visible;
    scroll-behavior: smooth;
}


